[project]
	description = project-02
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/r1ddl3m37h15
[access "refs/for/refs/*"]
	read = group user/r1ddl3m37h15
	push = group user/r1ddl3m37h15
	label-Code-Review = -2..+2 group user/r1ddl3m37h15
	label-Verified = -1..+1 group user/r1ddl3m37h15
	rebase = group user/r1ddl3m37h15
	removeReviewer = group user/r1ddl3m37h15
	submit = group user/r1ddl3m37h15
[access "refs/heads/*"]
	read = group user/r1ddl3m37h15
	create = group user/r1ddl3m37h15
	push = +force group user/r1ddl3m37h15
	pushMerge = group user/r1ddl3m37h15
[access "refs/tags/*"]
	push = group user/r1ddl3m37h15
	push = +force group user/r1ddl3m37h15
